<body>
    <div class="row">
        <!-- Card 1 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front"> <!-- FRONT FACE OF CARD -->
                    <h2 class="titleProject">LaRedonda</h2>
                    <img src="https://i.imgur.com/mrM5jLW.jpeg" alt="LaRedonda" class="thumbnail-image">
                </div>
    
                <div class="card-back"> <!-- BACK FACE OF CARD -->
                    <h3>LaRedonda</h3>
                    <p>Football page, information, and live scores.</p>
                    <a href="https://github.com/jeroperales/LaRedonda-TPFinal" class="btn">View on GitHub</a>
                </div>
            </div>
        </div>
    
        <!-- Card 2 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front"> <!-- FRONT FACE OF CARD -->
                    <h2 class="titleProject">Kiosk Inventory</h2>
                    <img src="https://i.imgur.com/C4Pakvg.jpeg" alt="Kiosk Inventory" class="thumbnail-image">
                </div>
                
                <div class="card-back"> <!-- BACK FACE OF CARD -->
                    <h3>Kiosk Inventory</h3>
                    <p>A Java console-based inventory management project.</p>
                    <a href="https://github.com/jeroperales/KioskInventory" class="btn">View on GitHub</a>
                </div>
            </div>
        </div>
    
    </div>
    
    
    
</body>
